@import url("https://fonts.googleapis.com/css?family=Roboto");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
.container .head{
display: flex;
justify-content: space-between;
position: absolute;
top: 0;
left: 0;
align-items: center;
width:100%;
padding:0px 50px ;
z-index: 1;

}
.container .head img{
    width: 170px;
    
   z-index: 1;
   fill: #e50914;
   line-height: normal;
  background-image:  linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);


}


.container .head a{
    color:white;
    background-color: red;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 5px;
}
.banner{
    
    
   display: flex;
   justify-content: center;
   align-items: center;
 
    max-width: 950%;
    padding: 75px 0;
   
    margin: 0 auto;
    text-align: center;
    z-index: 1;
   

}
.banner .fit{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
   object-fit: cover;
}

.banner  .box {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  
}

.banner .box .heading{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;



}

 .heading h1{
    font-size: 65px;
    color: white;
    width: 640px;
    fill: white;
    letter-spacing: 1px;
 
   
   font-weight: bolder;
   
   
  

}
 .heading h2{
    font-size: 18px;
    color: white;
}
 .heading h3{
    font-size: 18px;
    color: white;
}

.banner .box .search{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.banner .box .search input{
 width: 60%;
 height: 9vh;
}

.banner .box .search input{
    width: 60%;
    height: 9vh;
    
   }

   .banner .box .search button{
    width: 30%;
    height: 9vh;
    background-color: red;
    color: white;
    
    
   }